<app-card title="Novo Usuáirio">
    <form (ngSubmit)="onSubmit()"
          [formGroup]="form">
        <div class="my">
            <input id="name"
                   placeholder="Nome Completo (sem abreviação)"
                   class="input"
                   type="text"
                   formControlName="name">
        </div>
        <div class="my">
            <input id="email"
                   placeholder="E-mail"
                   class="input"
                   type="text"
                   formControlName="email">
        </div>
        <div class="my">
            <input id="cpf"
                   placeholder="CPF"
                   class="input"
                   type="text"
                   formControlName="cpf">
        </div>
        <div class="my">
            <input id="phone"
                   placeholder="Telefone"
                   class="input"
                   type="text"
                   formControlName="phone">
        </div>
        <div class="my d-flex justify-content-center">
            <button (click)="voltar()" class="button button--secondary button--rounded">Voltar</button>
            <button class="button button--primary button--rounded ml"
                    [disabled]="form.invalid"
                    type="submit">Salvar</button>
        </div>
    </form>
</app-card>