h1 {
  text-align: center;
  padding: 0.3em;
  margin-top: 0.3em;
  font-size: calc(1.5rem + 1.5vw);
}

.btnPosicao,
.conteinerTabelaPosicao {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnCadastrar {
  background-color: var(--cor-primaria);
  color: var(--cor-txt-btn);
  padding: 0.7em 3.9em;
  font-size: 1.2em;
  border-radius: 1.5em;
}

.btnCadastrar:hover,
.icon:hover {
  transition: fade-out 1.5s;
  box-shadow: var(--sombra-btn-hover) !important;
}

.card-body {
  border-radius: 5px !important;
  border-left: solid var(--cor-primaria) 6px;
  padding: 0.5rem;
  min-width: calc(16rem + 13vw);
}

.titleName {
  font-size: 1.5em;
  font-weight: 500;
}

.etiqueta {
  font-weight: 500;
}

.icon {
  max-width: 36px;
  border-radius: 50%;
}

.modalContainer {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: var(--cor-bg-fundo-modal);
  z-index: 2000;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
}

.modalConteudo {
  background: var(--cor-bg-modal);
  width: 35%;
  height: 500px;
  min-width: 300px;
  border-radius: 0.6em;
  padding: 40px;
  position: relative;
  bottom: 45px;
}

.btnFechar {
  position: absolute;
  top: 30px;
  right: 15px;
  box-shadow: var(--sombra-btn);
  border-radius: 50%;
}

input {
  border: none !important;
  border-bottom: solid gray 2px !important;
}

.btnCadastrarFormulario {
  background-color: var(--cor-secundaria);
  color: var(--cor-txt-secundaria);
  padding: 0.5em 2.5em;
  font-size: 1em;
  border-radius: 1.5em;
}

/*-----------Efeitos---------------*/

.fadeOut {
  opacity: 0;
  transition: 0.2s;
}

.mostrar .modalContainer {
  animation: modalAnimacao 0.3s;
}

.modalContainer.mostrar {
  display: flex;
}

@keyframes modalAnimacao {
  from {
    opacity: 0;
    transform: translate(0, 60px, 0);
  }
  to {
    opacity: 1;
    transform: translate(0, 0, 0);
  }
}

/* ----------- Responsividade ----------- */

@media only screen and (min-width: 360px) and (max-height: 640px) {
  .btnCadastrar {
    padding: 0.5em 3.3em;
    font-size: 1.2em;
  }
}
