<div class="d-flex justify-content-center">
  <button mat-raised-button color="primary" class="m-3" (click)="abrirModal()">
    Adicionar usuário <mat-icon>add</mat-icon>
  </button>
</div>
<div class="d-flex justify-content-center align-items-center flex-column">
  <div *ngIf="loading else users" class="d-flex flex-column align-items-center mt-5">
    <mat-spinner [diameter]="35"></mat-spinner>
    Carregando...
  </div>
  <ng-template #users>
    <mat-card class="m-3 d-flex justify-content-between" *ngFor="let usuario of usuarios">
      <mat-list role="list">
        <mat-list-item role="listitem" class="h6">My name: {{usuario?.name}}</mat-list-item>
        <mat-list-item role="listitem">Cpf: {{usuario?.cpf}}</mat-list-item>
        <mat-list-item role="listitem">E-mail: {{usuario?.email}}</mat-list-item>
        <mat-list-item role="listitem">Telefone: {{usuario?.phone}}</mat-list-item>
      </mat-list>
      <div class="d-flex flex-column justify-content-center">
        <button mat-fab color="primary" aria-label="Example icon button with a home icon">
          <mat-icon>add</mat-icon>
        </button>
        <button mat-fab color="warn" class="mt-3" aria-label="Example icon button with a home icon">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </mat-card>
  </ng-template>
</div>
