#modal {
  display: none;
  position: fixed;
  margin: 65px 15px 15px 15px;
  padding: 15px 0px;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
}

#modal.active {
  display: block;
}

#modal:before {
  content: '';
  display: block;
  position: fixed;
  background: rgba(0,0,0,0.6);
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: -1;
}

#modal .modal-area {
  background: var(--white);
  border-radius: 8px;
}

#modal .modal-header {
  display: flex;
  text-align: left;
  align-items: center;
	border-bottom: 1px solid var(--shadow);
  padding: 5px 20px;
	margin-bottom: 10px;
}

#modal .footer-modal {
  display: flex;
  justify-content: center;
  align-items: center;
	padding: 20px;
	border-top: 1px solid var(--shadow)
}
