@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;500;600&display=swap');

* {
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
}

ol, ul {
  list-style: none;
}

p, body, ul {
  margin: 0;
  padding: 0;
}

p {
  padding: 2px 0;
}

h1 {
  font-size: 30px;
  font-weight: bold;
  margin: 5px 0 20px;
}

h2 {
  font-size: 22px;
  font-weight: 700;
  margin: 10px 0;
}

h3 {
  font-size: 18px;
  font-weight: 600;
  display: inline-block;
}