<app-card title="Banco Pan">
    <div class="d-flex justify-content-center">
        <button class="button button--primary button--rounded my">Adicionar Usuário</button>
    </div>
    <app-card *ngFor="let item of lista$ | async"
              [border]="true"
              [title]="item?.name">
        <div class="flex-1">
            <span class="font-weight-bold">CPF:</span> {{item?.cpf | cpf}}
        </div>
        <div class="flex-1">
            <span class="font-weight-bold">E-mail:</span> {{item?.email}}
        </div>
        <div class="flex-1">
            <span class="font-weight-bold">Telefone:</span> {{item?.phone | fone}}
        </div>
        <div>
            <i class="button button--secondary pi pi-pencil"></i>
            <i class="button button--danger ml pi pi-trash"></i>
        </div>
    </app-card>
</app-card>