:root {
    --color-1: #03A9F4;
    --color-2: #121213;
    --color-3: #EB4A46;
    --color-4: #ffffff;
    --color-5: #94b7b7;
    --color-6: #ec6868;
    --color-7: #6B6B6B;
    --color-8: rgba(3, 169, 244, 0.45);

    --border-Radius-0: 3px;
    --border-Radius-1: 8px;
    --border-Radius-2: 16px;
    --border-Radius-3: 30px;

    --font-Style-1:  'Roboto', sans-serif;

    --font-Size-1: 35px;
    --font-Size-2: 24px;
    --font-Size-3: 16px;
    --font-Size-4: 13px;
    --font-Size-5: 11px;

    --font-Weight-1: 900;
    --font-Weight-2: 700;
    --font-Weight-3: 500;
    --font-Weight-4: 400;

    --line-Height-1: 25px
}

* {
    margin: 0px;
    padding: 0px;
    font-family: var(--font-Style-1);
    color: var(--color-2);
    font-weight: var(--font-Weight-4);
}

h1 {
    font-weight: var(--font-Weight-3);
}
