<div class="container mt-6">

    <p class="is-size-1 has-text-centered">Banco Pan</p>

    <div class="mt-5 mb-5 has-text-centered">
        <button class="button is-info is-rounded has-text-centered" (click)="showNewEditUserModal()">
            <span>Adicionar usuário</span>
            <span class="icon">
                <i class="mdi mdi-plus-circle-outline"></i>
            </span>
        </button>
    </div>

    <!-- Lista de usuários -->
    <div class="mt-6 columns is-desktop is-multiline has-text-left">
        <div class="column is-narrow" *ngFor="let user of usersService.usersList">
            <div style="width: 400px;">
                <feb-edition-card [enableEditBtn]="canEnableButtons(user)" [enableDeleteBtn]="canEnableButtons(user)"
                    (onEditClick)="editUser(user)">
                    <div class="feb-block">
                        <strong>{{ user.name }}</strong>.
                    </div>
                    <div class="feb-block">
                        <strong>CPF:</strong>
                        {{ user.cpf }}
                    </div>
                    <div class="feb-block">
                        <strong>E-mail:</strong>
                        {{ user.email }}
                    </div>
                    <div class="feb-block">
                        <strong>Telefone:</strong>
                        {{ user.phone }}
                    </div>
                </feb-edition-card>
            </div>
        </div>
    </div>

    <!-- Novo usuário e edição -->
    <feb-new-edit-user #newEditUserComponent (updateList)="loadUsersList()"></feb-new-edit-user>


</div>