<div class="container mt-6">

    <p class="is-size-1 has-text-centered">Banco Pan</p>

    <div class="mt-5 mb-5 has-text-centered">
        <button class="button is-info is-rounded has-text-centered">
            <span>Adicionar usuário</span>
            <span class="icon">
                <i class="mdi mdi-plus-circle-outline"></i>
            </span>
        </button>
    </div>

    <div class="columns is-desktop">
        <div class="column">
            <feb-card>
                teste
            </feb-card>
        </div>
        <div class="column">
            <feb-card>
                teste
            </feb-card>
        </div>
      </div>
      
    


</div>

