.info-snackbar {
  background: $snackbar-info;
  color: $snackbar-white
}

.error-snackbar {
  background: $snackbar-error;
  color: $snackbar-white
}

.success-snackbar {
  background: $snackbar-success;
  color: $snackbar-white
}

.alert-snackbar {
  background: $snackbar-alert;
  color: $snackbar-white
}
