/* Fontes */
$font-stack: Roboto,
"Helvetica Neue",
sans-serif;


/* Color Snack */
$snackbar-info: #3b3b3b;
$snackbar-error: #eb1d23;
$snackbar-success: #7ed321;
$snackbar-alert: #f08000;
$snackbar-white: #ffffffe8;


/* Colors */
$primary-color: #22b4f6;

/* Radium Border */
$btn-radius-standard: 55px;
