@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #f5f5f5;
}

.font-weight-bold {
    font-weight: bold;
}

.d-flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}