/* You can add global styles to this file, and also import other style files */
@import './app/sass/app.scss';

html,
body {
  height: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
}

body {
  margin: 0;
  font-family: $font-stack;
}
