.main-title {
    text-align: center;
    margin: 20px 0;
}

.main-bottom {
    padding: 20px;
    display: flex;
    width: 60%;
    justify-content: center;
    background-color: var(--color-1);
    font-weight: var(--font-Weight-3);
    border: none;
    border-radius: var(--border-Radius-3);
    color: var(--color-4);
    margin: 21px auto 21px auto;
    font-size: var(--font-Size-3);
    align-content: center;
    align-items: center;
    max-width: 400px;
}

.main-bottom img {
    margin: 0 10px;
    width: 18px;
}