nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0.5rem;
    background-color: #fff;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    
    .nav-item {
        color: #000;
        font-size: 1.5rem;
        font-weight: 100;
        transition: all 0.3s ease-in-out;
        &:hover {
            transform: scale(1.05);
        }

        a {
            text-decoration: none;
            color: #000;
        }
    }
}
